<!DOCTYPE html>
<html>
<head>
  <title></title>
  <!-- /*<style>
  body {
    height: 100%;
    width: 100%;
    background-image: url("http://img4.wikia.nocookie.net/__cb20120730200249/ipod/images/6/65/Earth_and_Moon.jpg");
    background-repeat: no-repeat;
    background-size: 1920px 1200px;
    color: white;
    text-align: center;
  }
  </style>*/ -->
</head>
<body">
<p> <%=@game.player_1.name%> has attacked <%=@game.player_2.name%> </p>
<a href="/play">PLAY</a>
</body>
</html>
