<h1 id="player_names"><%= @player_one %> attacked <%= @player_two %></h1>


<div id="player_one">
  <div class="hit_points">
    <%= @player_one_hp %>
  </div>
</div>


<div id="player_two">
  <div class="hit_points">
    <%= @player_two_hp %>
  </div>
</div>
