<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body background="/images/orion-colombari-1920.jpg">
<p> <%=@game.player_1.name%> has attacked <%=@game.player_2.name%> </p>
<a href="/play">PLAY</a>
</body>
</html>
