<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<% unless @player_1_name.nil? || @player_2_name.nil? %>
  <p> <%= @player_1_name %> vs <%=@player_2_name%> </p>
  <p> <%=@player_2_name%> hit points = <%=@player_2_hit_points%> </p>
  <form action="/attack" method ="get">
    <input type="submit" value="Attack Mittens">
  </form>
<%end%>

</body>
</html>
