
<h1 id="player_names"><%= @player_one %> vs. <%= @player_two %></h1>


<div id="player_one">
  <div class="hit_points">
    100
  </div>
</div>

<div id="player_two">
  <div class="hit_points">
    60
  </div>
</div>
