<div><%=@player_1_name%> vs. <%=@player_2_name%></div>

<div><%=@player_2_name%>: 60hp</div>

<!-- <div><a href="/attack">Attack</a></div> -->
<div><form action="/attack">
  <input type="submit" value="Attack"></form>
</div>
