<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<% unless @player_1_name.nil? || @player_2_name.nil? %>
  <p> <%= @player_1_name %> vs <%=@player_2_name%> </p>
<%end%>

</body>
</html>
